<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <h3 mat-subheader (click)="showCount=showCount+1;">公車資訊</h3>
      <mat-list-item>
        <h4 mat-line [routerLink]="['/client','bus','busRoute']" (click)="drawer.toggle()"
          [queryParams]="{City: 'Kaohsiung','RouteName':'8041C'}">
          8041C(部分延駛樹人醫專) </h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>鐵路資訊</h3>
      <mat-list-item>
        <h4 mat-line [routerLink]="['/client','rail','railStation']" (click)="drawer.toggle()">大湖車站</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div style="position: absolute;width: 100%;bottom: 0px;" *ngIf="showCount >= 5">
        <h3 mat-subheader>測試區域</h3>
        <mat-list-item>
          <h4 mat-line [routerLink]="['/client','game','test']" (click)="drawer.toggle()">測試1</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 mat-line (click)="showVConsole();drawer.toggle()">打開vConsole</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-drawer-container>
