.stickyTrain {
  float: left;
  position: sticky;
  top: 0;
}

.trainDiv {
  display: initial;
}

.actionTrain {
  background-color: #3f51b5;
  color: #fff;
}

.timetableListLogo {
  width: 50%;
  position: absolute;
  left: 30px;
  bottom: 100px;
}
