<div class="container mtop">
  <mat-form-field>
    <mat-label>選擇縣市</mat-label>
    <mat-select [(ngModel)]="motcService.defaultCity" (selectionChange)="cityChange($event)">
      <mat-option disabled>請選擇縣市</mat-option>
      <mat-option [value]="city" *ngFor="let city of motcService.citys">{{city}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>選擇車站</mat-label>
    <mat-select [(value)]="motcService.stationID" (selectionChange)="stationChange($event)">
      <mat-option disabled>請選擇車站</mat-option>
      <mat-option [value]="station.StationID" *ngFor="let station of motcService.RailStations">
        {{station.StationName.Zh_tw}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="順行">
      <mat-list>
        <ng-container *ngFor="let RailStation of motcService.RailStationTimetablesRight">
          <mat-list-item [ngClass]="{'grey': nowTime > RailStation.ArrivalTime}">
            <h4 mat-line (click)="motcService.RailTRAGeneralTimetableTrainNo(RailStation.TrainNo)">
              {{RailStation.ArrivalTime}} 開往 {{RailStation.EndingStationName}}
              <span class="right">車次{{RailStation.TrainNo}}</span>
            </h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </mat-tab>
    <mat-tab label="逆行">逆行</mat-tab>
    <mat-tab [label]="motcService.RailGeneralTimetable.GeneralTimetable.GeneralTrainInfo.TrainNo"
      *ngIf="motcService.RailGeneralTimetable !== undefined">
      <ng-container *ngFor="let StopTime of motcService.RailGeneralTimetable.GeneralTimetable.StopTimes">
        <mat-list-item>
          <p [ngClass]="{'grey': nowTime > StopTime.ArrivalTime,'indigo': motcService.defaultStationID == StopTime.StationID}"
            style="margin: 0px;">
            {{StopTime.ArrivalTime}}-{{StopTime.StationName.Zh_tw}}
            <span class="right" *ngIf="motcService.defaultStationID == StopTime.StationID">(本站)</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
